# This file defines code owners for the repository
# Code owners are automatically requested for review when someone opens a pull request
# that modifies code they own

# Default owner for everything in the repo
* @ukwhatn`