[tool.poetry]
name = "fastapi-template"
version = "1.0.0"
description = "A template for creating a new application"
authors = ["Yuki Watanabe <ukwhatn@gmail.com>"]
package-mode = false

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.group.server]
optional = true
[tool.poetry.group.server.dependencies]
redis = "^5.0.8"
fastapi = {extras = ["standard"], version = "^0.115.0"}
sentry-sdk = {extras = ["fastapi"], version = "^2.19.2"}
newrelic = "^10.3.1"

[tool.poetry.group.dev]
optional = true
[tool.poetry.group.dev.dependencies]
flake8 = "^7.1.1"
mypy = "^1.11.1"
isort = "^5.13.2"
black = "^24.8.0"

[tool.poetry.group.db]
optional = true
[tool.poetry.group.db.dependencies]
sqlalchemy = "^2.0.32"
alembic = "^1.13.2"
psycopg2-binary = "^2.9.9"
pydantic = "^2.8.2"

[tool.poetry.group.dumper]
optional = true
[tool.poetry.group.dumper.dependencies]
boto3 = "1.35.*"
schedule = "^1.2.2"
sentry-sdk = "^2.19.2"
pick = "^2.4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"