S3_ENDPOINT=https://sin1.contabostorage.com

S3_ACCESS_KEY=""
S3_SECRET_KEY=""

S3_BUCKET=db-backup
BACKUP_DIR=fastapi-template[test]
BACKUP_RETENTION_DAYS=7
BACKUP_TIME=03:00

# 実行モード: scheduled (定期実行) または interactive (対話モード)
DUMPER_MODE=scheduled