POSTGRES_USER=user
POSTGRES_PASSWORD=password

S3_ENDPOINT=https://sin1.contabostorage.com
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET=db-backup
BACKUP_DIR=fastapi-template[test]
BACKUP_RETENTION_DAYS=7
BACKUP_TIME=03:00