ENV_MODE=development

PASSWORD_SALT="aaaaa"
SESSION_COOKIE_NAME="session_id"
SESSION_EXPIRE=3600

# API認証設定
API_KEY="test"

BACKEND_CORS_ORIGINS=""

# New Relic設定
NEW_RELIC_LICENSE_KEY=""
NEW_RELIC_APP_NAME="FastAPI Template"
NEW_RELIC_HIGH_SECURITY=false
NEW_RELIC_MONITOR_MODE=true